// First it loads the application tokens so the variables aren't overwritten by the flare tokens
@import "tokens";
// Then it loads the whole thing.
@import "../flare/sass/flare";

h1 {
  text-transform: uppercase;
}

p {
  color: $docufiel-gray-color;
}

li {
  list-style-type: circle;
  margin-bottom: rem(16px);
}
