@import "../tokens/space";

$header-height: 50px !default;
$header-text-default-color: white !default;
$header-background-color: black !default;
$header-logo-space-width: 200px !default;
$header-logo-height: 30px !default;
$header-nav-icon-width: 24px !default;
$header-nav-default-color: white !default;
$header-actions-space-width: 200px !default;

$header-nav-items-width: 150px !default;
$header-nav-spacing: $gutter !default;

