@import "header";

$page-mobile-margin-top: $header-height !default;
$page-mobile-padding-top: $gutter-xxlarge !default;
$page-mobile-padding-bottom: $gutter-xxlarge !default;

$page-tablet-margin-top: $header-height !default;
$page-tablet-padding-top: $gutter-xxlarge !default;
$page-tablet-padding-bottom: $gutter-xxlarge !default;

$page-desktop-margin-top: $header-height !default;
$page-desktop-padding-top: $gutter-xxlarge !default;
$page-desktop-padding-bottom: $gutter-xxlarge !default;


$page-background-color: white !default;
