$header-position: fixed;
$header-nav-primary-justify: right;

$header-background-color: white;
$header-text-default-color: black;

$header-logo-height: 64px;
$header-height: 60px;

$header-nav-items-width: 200px;
$header-actions-space-width: 0px;