@import "space";
@import "colors";

$text-selection-color: $docufiel-light-green-color !default;


$links-text-color: $docufiel-light-green-color;
$links-text-hover-color: $docufiel-green-color;

$h1-text-size: 40px;
$h1-text-weight: 800;
$h1-text-color: black;

$h2-text-size: 32px;
$h2-text-weight: 700;
$h2-text-color: $docufiel-green-color;

$h3-text-size: 24px;
$h3-text-weight: 700;
$h3-text-color: black;

$h4-text-size: 20px;
$h4-text-weight: 600;
$h4-text-color: $docufiel-blue-color;

$h5-text-size: 16px;
$h5-text-weight: 600;
$h5-text-color: black;
$h5-text-margin: 0 0 6px 0;

$h6-text-size: 16px;
$h6-text-weight: 600;
$h6-text-color: $medium-gray-color;
$h6-text-margin: 0 0 6px 0;

$h2-text-margin: $gutter-xxlarge 0 $gutter-small;
$h3-text-margin: $gutter 0 $gutter-small;

$paragraph-line-height: 1.5em;
